<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cgv.mapper.MovieMapper">

	<select id="getMovieList1_5" resultType="com.cgv.vo.Movie">
		SELECT * FROM movie where movieScreening="상영중" OR movieScreening="재개봉" ORDER BY movieRating desc LIMIT 5
	</select>
	
	<select id="getMovieList1" resultType="com.cgv.vo.Movie">
		SELECT * FROM movie where movieScreening="상영중" OR movieScreening="재개봉" ORDER BY movieRating desc
	</select>
	
	<select id="getMovieList2_5" resultType="com.cgv.vo.Movie">
		SELECT * FROM movie where movieScreening="상영예정" ORDER BY movieOpen LIMIT 5
	</select>
	
	<select id="getMovieList2" resultType="com.cgv.vo.Movie">
		SELECT * FROM movie where movieScreening="상영예정" ORDER BY movieOpen 
	</select>
	
	<select id="getOneMovie" parameterType="Integer" resultType="com.cgv.vo.Movie">
		SELECT * FROM movie WHERE num=#{num}
	</select>
	
	<select id="chartAllCount" resultType="Integer">
		SELECT count(*) FROM movie where movieScreening="상영중" 
	</select>
	
	<select id="openAllCount" resultType="Integer">
		SELECT count(*) FROM movie where movieScreening="상영예정"
	</select>

</mapper>

